In [2]:
import gmaps

In [3]:
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shimoda,JP,2022-08-03 20:28:07,34.6667,138.9500,77.11,89,61,10.18
1,1,Severo-Kurilsk,RU,2022-08-03 20:23:59,50.6789,156.1250,52.84,86,43,7.38
2,2,Jamestown,US,2022-08-03 20:23:17,42.0970,-79.2353,89.94,39,1,8.99
3,3,Puerto Montt,CL,2022-08-03 20:27:37,-41.4698,-72.9447,45.43,100,100,9.22
4,4,Port Alfred,ZA,2022-08-03 20:28:07,-33.5906,26.8910,62.19,80,51,1.99

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shimoda,JP,2022-08-03 20:28:07,34.6667,138.9500,77.11,89,61,10.18
2,2,Jamestown,US,2022-08-03 20:23:17,42.0970,-79.2353,89.94,39,1,8.99
9,9,Kavieng,PG,2022-08-03 20:28:09,-2.5744,150.7967,81.86,80,96,17.22
18,18,Atuona,PF,2022-08-03 20:28:12,-9.8000,-139.0333,77.27,77,16,13.82
21,21,Ajdabiya,LY,2022-08-03 20:28:12,30.7554,20.2263,86.22,37,0,20.45
22,22,Komsomolskiy,UZ,2022-08-03 20:28:13,40.4272,71.7189,76.14,39,2,0.60
33,33,Le Vauclin,MQ,2022-08-03 20:28:16,14.5452,-60.8388,84.25,79,75,14.97
34,34,Liuzhou,CN,2022-08-03 20:28:16,24.3126,109.3892,79.97,83,100,1.45
37,37,Tautira,PF,2022-08-03 20:28:17,-17.7333,-149.1500,76.73,81,58,24.32
38,38,Maceio,BR,2022-08-03 20:28:17,-9.6658,-35.7353,76.44,88,100,9.22

In [25]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [40]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Shimoda      JP     77.11  34.6667  138.9500
2      Jamestown      US     89.94  42.0970  -79.2353
9        Kavieng      PG     81.86  -2.5744  150.7967
18        Atuona      PF     77.27  -9.8000 -139.0333
21      Ajdabiya      LY     86.22  30.7554   20.2263
22  Komsomolskiy      UZ     76.14  40.4272   71.7189
33    Le Vauclin      MQ     84.25  14.5452  -60.8388
34       Liuzhou      CN     79.97  24.3126  109.3892
37       Tautira      PF     76.73 -17.7333 -149.1500
38        Maceio      BR     76.44  -9.6658  -35.7353

In [41]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key




}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
        # Get the latitude and longitude.
        lat = row["Lat"]
        lng = row["Lng"]

        # Add the latitude and longitude to location key for the params dictionary.
        params["location"] = f"{lat},{lng}"

        # Use the search term: "lodging" and our latitude and longitude.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        # Make request and get the JSON data from the search.
        hotels = requests.get(base_url, params=params).json()
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

            # Grab the first hotel from the results and store the name.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
            print("Hotel not found... skipping.")

IndexError: list index out of range

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))