## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Sinnamary,GF,77.22,scattered clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
1,1,Atuona,PF,77.18,scattered clouds,-9.8000,-139.0333,Villa Enata
2,2,Manokwari,ID,83.05,overcast clouds,-0.8667,134.0833,Swiss Belhotel Manokwari
3,6,Hilo,US,80.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
4,9,Georgetown,MY,87.73,few clouds,5.4112,100.3354,Cititel Penang

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """


<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Katsuura"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Shimoda"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Shingu"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Tottori"] 
vacation_end   = vacation_df.loc[vacation_df["City"] == "Katsuura"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each 
#city DataFrame using the to_numpy function and list indexing.

#The to_numpy() function can be used on a DataFrame column to convert the column data into an array. 
#List indexing can be used on the array to retrieve each item in the array.



end_lat = vacation_end['Lat'].to_numpy()
end_lng = vacation_end['Lng'].to_numpy()

start_lat = vacation_start['Lat'].to_numpy()
start_lng = vacation_start['Lng'].to_numpy()

stop1_lat = vacation_stop1['Lat'].to_numpy()
stop1_lng = vacation_stop1['Lng'].to_numpy()


stop2_lat = vacation_stop2['Lat'].to_numpy()
stop2_lng = vacation_stop2['Lng'].to_numpy()


stop3_lat = vacation_stop3['Lat'].to_numpy()
stop3_lng = vacation_stop3['Lng'].to_numpy()

In [7]:
end = (end_lat[0], end_lng[0])
start = (start_lat[0], start_lng[0])
stop1 = (stop1_lat[0], stop1_lng[0])
stop2 = (stop2_lat[0], stop2_lng[0])
stop3 = (stop3_lat[0], stop3_lng[0])

In [8]:
end, start, stop1, stop2, stop3

((35.1333, 140.3),
 (35.1333, 140.3),
 (34.6667, 138.95),
 (33.7333, 135.9833),
 (35.5, 134.2333))

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#the waypoints are the three other cities, 
#and the travel_mode is either "DRIVING", "BICYCLING", or "WALKING".

import gmaps.datasets

fig = gmaps.figure()
start2stop = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(start2stop)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,501,Katsuura,JP,83.50,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
1,1004,Shimoda,JP,86.11,broken clouds,34.6667,138.9500,Shimoda Tokyu Hotel
2,664,Shingu,JP,84.06,overcast clouds,33.7333,135.9833,Shingu UI Hotel
3,616,Tottori,JP,89.67,few clouds,35.5000,134.2333,Hotel Monarque Tottori
4,501,Katsuura,JP,83.50,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))